@charset "UTF-8";
/*Contenido del index*/
.main-inicio .card-noticias, .main-nosotros .cuarteles, .main-contacto .informacion, .main-galeria .imagen-galeria, .main-inscripcion .inscribite {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 15px;
  text-align: center; }

.main-inicio .card-noticias img, .main-nosotros .cuarteles img, .main-galeria .imagen-galeria img {
  width: 200px;
  height: 200px; }

.main-inicio div h2, .main-inicio .card-noticias h3, .main-nosotros .cuarteles h2, .main-contacto .informacion h2, .main-inscripcion .inscribite h2 {
  font-weight: 250; }

.main-inicio .card-noticias p, .main-nosotros .cuarteles p, .main-contacto .informacion p, .main-inscripcion .inscribite p {
  font-weight: 75; }

.aside-inicio, .aside-nosotros, .aside-contacto, .aside-galeria, .aside-inscripcion {
  display: none;
  justify-content: center;
  background-color: #cb5327;
  color: white;
  text-align: center;
  justify-content: center; }

.main-inicio .contenedor-noticias, .main-nosotros .contenedor-cuarteles, .main-contacto .contenedor-informacion, .main-galeria .contenedor-fotos, .main-inscripcion .contenedor-form {
  margin: 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }

.main-inicio .card-noticias a {
  background-color: #a82727;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.7rem 1rem 0.7rem 1rem; }

/*Mediaquerys inicio*/
/*Mediaquerys nosotros*/
/*Mediaquerys contacto*/
/*Mediaquerys galería*/
/*Mediaquerys inscripción*/
.contenedor-index {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  grid-template-rows: 0.3fr 4fr 4fr 0.3fr;
  grid-template-areas: "header header" "main-inicio main-inicio" "main-inicio main-inicio" "footer footer"; }

header {
  grid-area: header; }
  header .navbar {
    height: 100%; }
  header .header-fondo {
    background-color: #a82727; }
    header .header-fondo .container-fluid {
      background-color: #a82727; }
      header .header-fondo .container-fluid .navbar-brand {
        background-color: #a82727; }
        header .header-fondo .container-fluid .navbar-brand .navbar-titulo {
          background-color: #a82727; }
        header .header-fondo .container-fluid .navbar-brand .d-inline-block {
          background-color: #a82727; }
        header .header-fondo .container-fluid .navbar-brand .nav-item {
          width: 100%;
          justify-content: flex-end; }
  header .navbar-nav {
    width: 100%; }
  header .navbar-titulo {
    display: inline-block;
    color: white; }
  header .navbar-menu {
    color: white; }
    header .navbar-menu a {
      color: white; }
      header .navbar-menu a a:visited {
        color: white; }
  header ul .desplegable-fondo {
    background-color: #be3e3e; }
    header ul .desplegable-fondo li {
      background-color: #be3e3e; }

.main-inicio {
  background-color: #f0f0f0;
  padding: 15px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: main-inicio; }
  .main-inicio .contenedor-noticias {
    max-width: 1000px; }
  .main-inicio .card-noticias {
    max-width: 300px;
    text-align: center; }
    .main-inicio .card-noticias a:hover {
      box-shadow: 3px 3px 8px black;
      transition: 0.3s; }

.aside-inicio {
  grid-area: aside-inicio; }

footer {
  grid-area: footer;
  background-color: #636060;
  color: white;
  padding: 15px;
  width: 100%;
  grid-area: footer; }
  footer hr {
    height: 1px;
    background-color: #7a7a7a; }
  footer .contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto; }
  footer a .icono {
    color: white;
    font-weight: 600;
    font-size: 30px; }
  footer a .icono:hover {
    transform: rotate(360deg);
    transition: 0.9s; }

@media screen and (min-width: 768px) {
  .contenedor-index {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.3fr 4fr 0.5fr 0.3fr;
    grid-template-areas: "header header" "main-inicio main-inicio" "aside-inicio aside-inicio" "footer footer"; }
  .aside-inicio {
    display: block; } }

@media screen and (min-width: 1024px) {
  .aside-inicio {
    display: block; }
  .contenedor-index {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.3fr 2fr 2fr 0.3fr;
    grid-template-areas: "header header" "main-inicio aside-inicio" "main-inicio aside-inicio" "footer footer"; } }

/*Contenido de nosotros*/
.contenedor-nosotros {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  grid-template-rows: 0.3fr 4fr 0fr 0.3fr;
  grid-template-areas: "header header" "main-nosotros main-nosotros" "main-nosotros main-nosotros" "footer footer"; }

.main-nosotros {
  background-color: #f0f0f0;
  padding: 15px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: main-nosotros; }
  .main-nosotros .contenedor-cuarteles {
    flex-direction: column; }
  .main-nosotros .cuarteles {
    text-align: center;
    max-width: 1000px; }

.aside-nosotros {
  grid-area: aside-nosotros; }

@media screen and (min-width: 768px) {
  .contenedor-nosotros {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.3fr 4fr 0.5fr 0.3fr;
    grid-template-areas: "header header" "main-nosotros main-nosotros" "aside-nosotros aside-nosotros" "footer footer"; }
  .aside-nosotros {
    display: block; } }

@media screen and (min-width: 1024px) {
  .aside-nosotros {
    display: block; }
  .contenedor-nosotros {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.3fr 2fr 2fr 0.3fr;
    grid-template-areas: "header header" "main-nosotros aside-nosotros" "main-nosotros aside-nosotros" "footer footer"; } }

/*Contenido de nosotros*/
.contenedor-contacto {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  grid-template-rows: 0.3fr 2.5fr 0fr 0.3fr;
  grid-template-areas: "header header" "main-contacto main-contacto" "main-contacto main-contacto" "footer footer"; }

.main-contacto {
  background-color: #f0f0f0;
  padding: 15px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: main-contacto; }

.aside-contacto {
  grid-area: aside-contacto; }

@media screen and (min-width: 768px) {
  .aside-contacto {
    display: block; }
  .contenedor-contacto {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.3fr 2.5fr 0.5fr 0.3fr;
    grid-template-areas: "header header" "main-contacto main-contacto" "aside-contacto aside-contacto" "footer footer"; } }

@media screen and (min-width: 1024px) {
  .aside-contacto {
    display: block; }
  .contenedor-contacto {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.3fr 2fr 2fr 0.3fr;
    grid-template-areas: "header header" "main-contacto aside-contacto" "main-contacto aside-contacto" "footer footer"; } }

/*Contenido de galeria*/
.contenedor-galeria {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  grid-template-rows: 0.3fr 3fr 3fr 0.3fr;
  grid-template-areas: "header header" "main-galeria main-galeria" "main-galeria main-galeria" "footer footer"; }

.main-galeria {
  background-color: #f0f0f0;
  padding: 15px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: main-galeria; }
  .main-galeria .contenedor-fotos {
    max-width: 1000px; }
  .main-galeria .imagen-galeria {
    text-align: center;
    max-width: 300px;
    cursor: pointer; }
  .main-galeria .imagen-galeria:hover {
    transform: scale(2);
    filter: drop-shadow(10px 10px 10px);
    transition: 0.8s; }

.aside-galeria {
  grid-area: aside-galeria; }

@media screen and (min-width: 768px) {
  .contenedor-galeria {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.3fr 3fr 0.5fr 0.3fr;
    grid-template-areas: "header header" "main-galeria main-galeria" "aside-galeria aside-galeria" "footer footer"; }
  .aside-galeria {
    display: block; } }

@media screen and (min-width: 1024px) {
  .aside-galeria {
    display: block; }
  .contenedor-galeria {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.3fr 2fr 2fr 0.3fr;
    grid-template-areas: "header header" "main-galeria aside-galeria" "main-galeria aside-galeria" "footer footer"; } }

/*Contenido de inscripción*/
.contenedor-inscripcion {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  grid-template-rows: 0.3fr 4fr 0fr 0.3fr;
  grid-template-areas: "header header" "main-inscripcion main-inscripcion" "main-inscripcion main-inscripcion" "footer footer"; }

.main-inscripcion {
  background-color: #f0f0f0;
  padding: 15px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: main-inscripcion; }
  .main-inscripcion .contenedor-form {
    flex-direction: column; }
  .main-inscripcion .inscribite {
    text-align: center;
    color: white;
    background-color: #a82727;
    width: 450px;
    flex-wrap: wrap;
    cursor: pointer; }
  .main-inscripcion fieldset {
    box-shadow: 3px 3px 10px black;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: white;
    color: black; }
  .main-inscripcion fieldset:hover {
    box-shadow: 1px 1px 15px #a82727;
    transition: 0.6s; }
  .main-inscripcion .nombre-apellido, .main-inscripcion .edad, .main-inscripcion .sexo, .main-inscripcion .direccion, .main-inscripcion .mail, .main-inscripcion .telefono {
    display: inline-block;
    width: 250px;
    padding: 10px; }

.aside-inscripcion {
  grid-area: aside-inscripcion; }

@media screen and (min-width: 768px) {
  .contenedor-inscripcion {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.3fr 2.8fr 0.5fr 0.3fr;
    grid-template-areas: "header header" "main-inscripcion main-inscripcion" "aside-inscripcion aside-inscripcion" "footer footer"; }
  .aside-inscripcion {
    display: block; } }

@media screen and (min-width: 1024px) {
  .aside-inscripcion {
    display: block; }
  .contenedor-inscripcion {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.3fr 2fr 2fr 0.3fr;
    grid-template-areas: "header header" "main-inscripcion aside-inscripcion" "main-inscripcion aside-inscripcion" "footer footer"; }
    .contenedor-inscripcion .inscribite {
      width: 800px; }
      .contenedor-inscripcion .inscribite fieldset {
        width: 500px; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
