/*Contenido de nosotros*/
.contenedor-nosotros{
    @include grid (3fr, 0.5fr, 0.3fr, 2.5fr,0fr, 0.3fr);
    grid-template-areas:
    "header header"
    "main-nosotros main-nosotros"
    "aside-nosotros aside-nosotros"
    "footer footer";
}

.main-nosotros{
    background-color: $color-fondo;
    .contenedor-cuarteles{
        @extend %contenedores;
        flex-direction: column;
    }

    @include main (main-nosotros);
    .cuarteles{
        text-align: center;
        max-width: 1000px;
        @extend %card;
        img{ @extend %foto-noticia;}
        h2 {@extend %titulo-noticia;}
        p {@extend %texto-noticia;}
    }
} 

.aside-nosotros{
    grid-area: aside-nosotros;
    @extend %aside-lateral;
}

@include tablet-nosotros;
@include ordenador-nosotros;