// Cards inicio
%card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.15);
    padding: 20px;
    margin: 15px;
    text-align: center;
}

%foto-noticia{
    width: 200px;
    height: 200px;
}

%titulo-noticia{
    font-weight: 250;
}

%texto-noticia{
    font-weight: 75;
}


// Aside general
%aside-lateral{
display: none;
justify-content: center;
background-color: $fondo-aside;
color: white;
text-align: center;
justify-content: center;
}

%contenedores{
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

%boton{
    background-color: $fondo-header ;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
}