/*Mediaquerys inicio*/
@mixin tablet{
    @media screen and (min-width:768px){
        .aside-inicio{
            display: block;
        }
    }
}

@mixin ordenador{
    @media screen and (min-width:1024px){
        .aside-inicio{
            display: block;

        }
        .contenedor-noticias{
            justify-content: center;
            @include grid (3fr , 1fr , 0.5fr , 2fr , 2fr , 0.5fr);
            grid-template-areas:
            "header header"
            "main-inicio aside-inicio"
            "main-inicio aside-inicio"
            "footer footer";
        }
    }
}

/*Mediaquerys nosotros*/
@mixin tablet-nosotros{
    @media screen and (min-width:768px){
        .aside-nosotros{
            display: block;
        }
    }
}

@mixin ordenador-nosotros{
    @media screen and (min-width:1024px){
        .aside-nosotros{
            display: block;

        }
        .contenedor-cuarteles{
            justify-content: center;
            @include grid (3fr , 1fr , 0.5fr , 2fr , 2fr , 0.5fr);
            grid-template-areas:
            "header header"
            "main-nosotros aside-nosotros"
            "main-nosotros aside-nosotros"
            "footer footer";
        }
    }
}

/*Mediaquerys contacto*/
@mixin tablet-contacto{
    @media screen and (min-width:768px){
        .aside-contacto{
            display: block;
        }
    }
}

@mixin ordenador-contacto{
    @media screen and (min-width:1024px){
        .aside-contacto{
            display: block;

        }
        .contenedor-informacion{
            justify-content: center;
            @include grid (3fr , 1fr , 0.5fr , 2fr , 2fr , 0.5fr);
            grid-template-areas:
            "header header"
            "main-contacto aside-contacto"
            "main-contacto aside-contacto"
            "footer footer";
        }
    }
}

/*Mediaquerys galeria*/
@mixin tablet-galeria{
    @media screen and (min-width:768px){
        .aside-galeria{
            display: block;
        }
    }
}

@mixin ordenador-galeria{
    @media screen and (min-width:1024px){
        .aside-galeria{
            display: block;

        }
        .contenedor-fotos{
            justify-content: center;
            @include grid (3fr , 1fr , 0.5fr , 2fr , 2fr , 0.5fr);
            grid-template-areas:
            "header header"
            "main-inicio aside"
            "main-inicio aside"
            "footer footer";
        }
    }
}