/*Mediaquerys inicio*/
@mixin tablet{
    @media screen and (min-width:768px){
        .aside-inicio{
            display: block;
        }
    }
}

@mixin ordenador{
    @media screen and (min-width:1024px){
        .aside-inicio{
            display: block;

        }
        .contenedor-index{
            @include grid (3fr, 0.5fr, 0.3fr, 2fr, 2fr, 0.3fr);
            grid-template-areas:
            "header header"
            "main-inicio aside-inicio"
            "main-inicio aside-inicio"
            "footer footer";
        }
    }
}

/*Mediaquerys nosotros*/
@mixin tablet-nosotros{
    @media screen and (min-width:768px){
        .aside-nosotros{
            display: block;
        }
    }
}

@mixin ordenador-nosotros{
    @media screen and (min-width:1024px){
        .aside-nosotros{
            display: block;
        }

        .contenedor-nosotros{
            @include grid (3fr, 0.5fr, 0.3fr, 2fr, 2fr, 0.3fr);
            grid-template-areas:
            "header header"
            "main-nosotros aside-nosotros"
            "main-nosotros aside-nosotros"
            "footer footer";

        }
    }
}

/*Mediaquerys contacto*/
@mixin tablet-contacto{
    @media screen and (min-width:768px){
        .aside-contacto{
            display: block;
        }
    }
}

@mixin ordenador-contacto{
    @media screen and (min-width:1024px){
        .aside-contacto{
            display: block;

        }
        .contenedor-contacto{

            @include grid (3fr, 0.5fr, 0.3fr, 2fr, 2fr, 0.3fr);
            grid-template-areas:
            "header header"
            "main-contacto aside-contacto"
            "main-contacto aside-contacto"
            "footer footer";
        }
    }
}

/*Mediaquerys galería*/
@mixin tablet-galeria{
    @media screen and (min-width:768px){
        .aside-galeria{
            display: block;
        }
    }
}

@mixin ordenador-galeria{
    @media screen and (min-width:1024px){
        .aside-galeria{
            display: block;

        }
        .contenedor-galeria{
            @include grid (3fr, 0.5fr, 0.3fr, 2fr, 2fr, 0.3fr);
            grid-template-areas:
            "header header"
            "main-galeria aside-galeria"
            "main-galeria aside-galeria"
            "footer footer";
        }
    }
}


/*Mediaquerys inscripción*/

@mixin tablet-inscripcion{
    @media screen and (min-width:768px){
        .aside-inscripcion{
            display: block; 
        }
    }
}

@mixin ordenador-inscripcion{
    @media screen and (min-width:1024px){
        .aside-inscripcion{
            display: block;
        }
        .contenedor-inscripcion{
            @include grid (3fr, 0.5fr, 0.3fr, 2fr, 2fr, 0.3fr);
            grid-template-areas:
            "header header"
            "main-inscripcion aside-inscripcion"
            "main-inscripcion aside-inscripcion"
            "footer footer";
            .inscribite{
                width: 800px;
                 fieldset{
                    width: 500px;
                 }
            }
        }
    }
}
